/**** Reset ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

/**** Style général de la page ****/

body {
    width: 100%;
    min-height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 15px;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
}

.main__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.card {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    height: auto;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 2, 5, 0.425), 1px 5px 5px rgba(0, 2, 5, 0.425);
}

.article__header {
    width: 100%;
    background-color: #ffffff;
    border-radius: 15px 15px 0 0;
    padding: 20px;
}

.article__header h2 {
    font-size: 25px;
    margin: 20px 15px;
    color: #2ab2af;
}

.article__header h3 {
    font-size: 22px;
    margin: 20px 15px;
    color: #c0df34;
}

.article__header p {
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 15px;
    color: #98a6bd;;
}

.article__left, .article__right {
    width: 50%;
    background-color: #2ab2af;
    color: #ffffff;
    padding: 20px;
}

.article__left {
    border-radius: 0 0 0 15px;
}

.article__right { 
    opacity: 0.7;
    border-radius: 0 0 15px 0;
}

.article__left h4, 
.article__right h4, 
.article__left p, 
.article__right p {
    margin: 20px 15px;
}

.article__left h4, .article__right h4 {
    font-size: 20px;
    font-weight: 400;
}

.price {
    position: relative;
}

.price p {
    font-size: 32px;
    font-weight: 600;
}

.price p span{
    font-weight: 400;
    opacity: 0.5;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
}

.article__left .conclusion{
    opacity: 0.8;
}

/*.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.sign-up__btn {
    padding: 15px;
    width: 70%;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #c0df34;
    cursor: pointer;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: color 0.4s ease-out;
    z-index: 1;
}

.sign-up__btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #c0df34;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.4s ease-out;
}
  
.sign-up__btn:hover::before,
.sign-up__btn:focus::before {
    transform: scaleY(1);
}

.sign-up__btn:hover,
.sign-up__btn:focus {
    color: #ffffff;
}

.last {
    line-height: 1.4;
    opacity: 0.6;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 15px;
}

footer span {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

footer span a {
    color: #2ab2af;
}

/**** Responsive design ****/ 

@media screen and (max-width: 575px) {
    .card {
        flex-direction: column;
        width: 95%;
        margin: 0 25px;
    }

    .article__left, .article__right {
        width: 100%;
    }

    .article__header {
        order: 1;
    }

    .article__left {
        border-radius: 0 0 15px 15px;
        order: 3;
    }

    .article__right {
        border-radius: 0;
        order: 2;
    }
}